* {
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
	border: none;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

h1,
h2,
h3,
h4 {
	font-family: Helvetica, Arial, serif;
	font-weight: bold;
	margin: 0;
	display: block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h2 {
	font-size: 3.8em;
	margin-bottom: 0.05em;
}

h2 span {
	margin-right: 0.1em;
}

h3 {
	font-family: Helvetica, Arial, serif;
	font-size: 2em;
	clear: both;
}

h4 {
	font-size: 2.66em;
	clear: both;
	margin-top: 0.06em;
	margin-bottom: -0.09em;
}

button {
	cursor: pointer;
	outline: 0;
}

@media (min-width: 1300px) {
	body {
		font-size: 15px;
	}
}
