<header ng-include="'components/navbar/navbar.html'"></header>

<div class="autocomplete" style="display: none;">
  <ul></ul>
  <p id="powered-search">Search suggestions by</p>
</div>

<div class="content">
  <section id="routes">
    <div class="route" ng-repeat="route in ctrl.routes track by route.global_route_id" ng-show="ctrl.isShown(route)" data-drop="true" ng-model='ctrl.routes' jqyoui-droppable="{ index: {{ $index }}, onDrop: 'ctrl.onChangeOrder()' }">
      <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="ctrl.routes" jqyoui-draggable="{ index: {{ $index }}, animate: false }">
        <button type="button" class="hide-route" ng-click="ctrl.hide(route)" ng-bind="'hide' | translate"></button>
        <route-item route="route"></route-item>
      </div>
    </div>

    <div ng-hide="ctrl.routes.length" class="empty">
      No line to show, try editing the configuration on the right
    </div>
  </section>

  <div class="modal" ng-class="{ open: ctrl.config.isEditing }" ng-include="'components/config/config.html'" role="dialog"></div>
</div>
