* {
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  border: none;
}

html,
body,
body > div[ui-view] {
  height: 100%;
  width: 100%;

  font-family: Helvetica, Arial, serif;
  font-size: 12px;

  padding: 0;
  margin: 0;

  overflow: hidden;
}


h1, h2, h3, h4 {
  font-family: Helvetica, Arial, serif;
  font-weight: bold;
  margin: 0;

  display: block;
  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  font-size: 3.8em;
  margin-bottom: 0.05em;
}

h2 span {
  margin-right: 0.1em;
}

h3 {
  font-family: Helvetica, Arial, serif;
  font-size: 2em;
  clear: both;
}

h4 {
  font-size: 2.66em;
  clear: both;

  margin-top: 0.06em;
  margin-bottom: -0.09em;
}

button {
  cursor: pointer;
  outline: 0;
}


.content {
  height: calc(100% - 4.3em);

  position: relative;
}

.content section {
  height: 100%;
  width: 100%;

  overflow-y: auto;
  float: left;

  box-sizing: border-box;
}

.content section.with-map {
  width: 65%;
}

.content aside {
  height: 100%;
  width: 35%;

  box-sizing: border-box;
  overflow-y: auto;

  background: #e5e5e5;
  border-left: 1px solid #cccccc;

  position: absolute;
  right: 0%;
}

.content aside.slide {
  right: -35%;
  transition: right .3s ease-in-out;
}

.content aside.slide.open {
  right: 0%;
}

/*.content .modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;


  display: none;
}*/

.content .modal.open {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

.promo {
  position: absolute;
  bottom: 1.3em;
  right: 1.3em;
  color: #000;
  width: 19em;
  font-family: Helvetica, Arial, serif;
  font-weight: lighter;
  padding: 0.6em;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #a8a8a8;
  border-radius: 0.8em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.promo span {
  left: 0.1em;
  line-height: 1.2em;
  font-size: 1.3em;
  display: inline-block;
  vertical-align: middle;
}

.promo a {
  font-family: Helvetica, Arial, serif;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.promo img {
  margin-right: 0.66em;
  display: inline-block;
  width: 4em;
  height: 4em;
  vertical-align: middle;
}

.pin {
  overflow: visible !important;
}

.pin .me {
  height: 100px;
  width: 100px;

  position: relative;
  top: -50px;
  left: -50px;
}

.pin .me:before,
.pin .me:after {
  content: '';
  display: block;

  position: absolute;
}

.pin .me:before {
  top: 25px;
  left: 25px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url('/assets/images/current-location@2x.png');
  background-size: 100%;
}

@keyframes pulsate {
  70% { transform: scale(0.1, 0.1); opacity: 0.0; }
  85% { opacity: 0.4; }
  100% { transform: scale(1.2, 1.2); opacity: 0.0; }
}

.pin .me:after {
  width: 80px;
  height: 80px;

  top: 10px;
  left: 10px;

  border-radius: 50%;
  background: #1b7eff;

  animation: pulsate 5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;

  overflow: visible;
}

@keyframes pop-in {
  0% { transform: scale(0.05); opacity: 0; }
  33% { transform: scale(1.08); opacity: 1; }
  66% { transform: scale(0.92); opacity: 1; }
  100% { transform: scale(1.0); opacity: 1; }
}

.pin .placemark {
  position: relative;
  left: -50%;

  animation: pop-in 0.2s ease-in-out 0s forwards;
  transform-origin: 50% 95%;
}

.pin .level {
  width: 40px;
  height: 56px;

  top: -54px;
}

.pin .normal {
  width: 36px;
  height: 44px;

  top: -42px;
}

/* Bootstrap Overrides */
.form-control:focus,
.ui-select-multiple.ui-select-bootstrap.open {
  border-color: #30b566;

  -webkit-box-shadow: none;
          box-shadow: none;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  background-color: #30b566;
}

.btn-default-focus {
  outline: 0;
  box-shadow: none;
}

.ui-select-container input {
  max-width: 100%;
}


@media (min-width: 1300px) {
  body {
    font-size: 15px;
  }
}

@media all and (orientation:portrait) {
  .content section.with-map {
    width: 100%;
    height: 70%;
  }

  .content aside {
    width: 100%;
    height: 30%;

    bottom: 0;
  }
}
