<div ng-controller="NavbarCtrl as ctrl">
  <table cellpadding='0' cellspacing='0' border='0'>
    <tr>
      <!-- <td id="logo-alt">
        <a href=""></a>
      </td> -->
      
      <td id="logo">
        <a href="https://transitapp.com"></a>
      </td>

      <td id="title">
        <h1 ng-bind="ctrl.config.title || ctrl.config.titlePlaceholder">&nbsp;</h1>
        <button type="button" name="locate" ng-click="ctrl.editConfig()" />
      </td>

      <td id="utilities">
        <span class="clock" ng-bind="ctrl.currentTime | amDateFormat:ctrl.config.timeFormat"></span>
      </td>
    </tr>
  </table>
</div>
