<div class="modal-dialog config_panel" ng-controller="ConfigCtrl as configCtrl">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="configCtrl.closePanel()" aria-label="Close"></button>
      <h3 ng-bind-html="'configuration' | translate"></h3>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label class="control-label" ng-bind-html="'location' | translate"></label>
        <input class="form-control" type="text" ng-model="configCtrl.config.latLngStr" placeholder="{{ 'lat, lng' | translate }}" />
      </div>

      <div class="form-group">
        <label class="control-label" ng-bind-html="'title' | translate"></label>
        <input class="form-control" type="text" ng-model="configCtrl.config.title" placeholder="{{ configCtrl.config.titlePlaceholder }}" />
      </div>

      <hr />

      <div class="form-group row">
        <div class="col-md-6">
          <label ng-bind-html="'time_format' | translate"></label>
          <ui-select ng-model="configCtrl.config.timeFormat" remove-selected="false" on-select="configCtrl.config.save()">
            <ui-select-match>{{ $select.selected.name | translate }}</ui-select-match>
            <ui-select-choices repeat="item.format as item in configCtrl.timeFormats">
              {{ item.name | translate }}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="col-md-6">
          <label ng-bind-html="'language' | translate"></label>
          <ui-select ng-model="configCtrl.locale" remove-selected="false" on-select="configCtrl.onLocaleSelected($item)">
            <ui-select-match>{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="item.lang as item in configCtrl.locales">
              {{ item.name }}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <hr />

      <label ng-bind-html="'hidden_lines' | translate"></label>
      <ul class="hidden_routes">
        <li ng-repeat="route in ctrl.routes | filter: configCtrl.isHidden | orderBy: 'route_short_name' as filteredHidden">
          {{ route.route_short_name }} - {{ route.route_long_name }}<small ng-bind="route.branch_code"></small>
          <button type="button" class="unhide" ng-click="configCtrl.unhide(route)"></button>
        </li>

        <li class="empty" ng-if="!filteredHidden.length" ng-bind-html="'no_hidden_lines' | translate"></li>
      </ul>

      <hr />

      <div ng-show="configCtrl.config.id">
        <hr />

        <label ng-bind-html="'screen_url' | translate"></label>
        <span class="empty" ng-bind-html="'share_url' | translate"></span>
        <input class="form-control" type="text" onclick="this.select()" value="https://screen.transitapp.com/#/{{ configCtrl.config.id }}" readonly="true" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" ng-click="configCtrl.duplicate()" ng-show="configCtrl.config.id" class="btn btn-default pull-left" ng-bind="'duplicate' | translate"></button>
      <button type="button" ng-click="configCtrl.save()" class="btn save" ng-bind="'save' | translate"></button>
    </div>
  </div>
</div>
